@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Nunito+Sans&family=Work+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: inherit;
  text-decoration: unset;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-size: 16px;
  font-family: "Nunito Sans", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  width: 100%;
  max-width: 1210px;
  padding: 0 20px;
  margin: 0 auto;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: #191919;
}

.text {
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #787878;
}

.header {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding-top: 38px;
  background-color: #e9e9e9;
  background: url("../img/bg-header.jpg") center no-repeat;
  background-size: cover;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 180px;
}

.header__logo {
  width: 31px;
}

.header__nav {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #191919;
  text-transform: uppercase;
}

.header__nav a {
  margin-right: 30px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.header__nav a:last-child {
  margin-right: 0;
}

.header__nav a:hover {
  color: #10c9c3;
}

.header__info {
  max-width: 505px;
  margin: 0 0 200px auto;
}

.header__title {
  font-family: "Montserrat", sans-serif;
  font-size: 38px;
  font-weight: 500;
  color: #1d1d1d;
  margin-bottom: 30px;
}

.header__text {
  font-size: 18px;
  line-height: 1.5;
  color: #787878;
  margin-bottom: 35px;
}

.header__btn {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  padding: 20px 45px;
  background-color: #10c9c3;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.header__btn:hover {
  background-color: #09b8b2;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.aboutus__inner {
  text-align: center;
  max-width: 650px;
  padding: 100px 10px;
  margin: 0 auto;
}

.aboutus__title {
  margin-bottom: 35px;
}

.aboutus__text {
  margin-bottom: 35px;
}

.skills {
  position: relative;
}

.skills__box {
  position: absolute;
  width: 50%;
  height: 100%;
  z-index: -1000;
}

.skills__box1 {
  top: 0;
  left: 0;
  background-color: #f8f9f9;
}

.skills__box2 {
  top: 0;
  right: 0;
  background-color: #e9e9e9;
  background: url("../img/skills-bg.jpg") left top no-repeat;
  background-size: contain;
}

.skills__inner {
  padding: 160px 0 185px;
}

.skills__title {
  margin-bottom: 30px;
}

.skills__subtitle {
  max-width: 500px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 62px;
  position: relative;
}

.skills__subtitle:last-child {
  margin-bottom: 0;
}

.skills__subtitle::before, .skills__subtitle::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -22px;
  width: 100%;
  height: 3px;
}

.skills__subtitle::before {
  background-color: #d8d8d8;
}

.skills__subtitle::after {
  background-color: #10c9c3;
}

.skills__subtitle1::after {
  width: 75%;
}

.skills__subtitle2::after {
  width: 90%;
}

.skills__subtitle3::after {
  width: 65%;
}

.stats {
  background-color: #10c9c3;
}

.stats__inner {
  padding: 100px 0;
  margin: 0 -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
}

.stats__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding-left: 70px;
  position: relative;
}

.stats__item::before {
  content: url("../img/icon-1.png");
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.stats__counter {
  font-size: 18px;
  margin-bottom: 15px;
}

.stats__text {
  font-size: 12px;
}

.goods {
  margin: 0 auto;
  width: 100%;
}

.goods__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.goods__item {
  height: 300px;
  width: 25%;
  z-index: 1;
  position: relative;
}

.goods__item::before {
  content: "";
  display: block;
  background-color: #10c9c3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 0;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.goods__item:hover::before {
  opacity: 0.8;
}

.goods__item::after {
  content: url("../img/icon-eye.png");
  display: block;
  width: 48px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 101;
  opacity: 0;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.goods__item:hover::after {
  opacity: 1;
}

.goods__item--1 {
  background: url("../img/good_1.jpg") center no-repeat;
  background-size: cover;
}

.goods__item--2 {
  background: url("../img/good_2.jpg") center no-repeat;
  background-size: cover;
}

.goods__item--3 {
  background: url("../img/good_3.jpg") center no-repeat;
  background-size: cover;
}

.goods__item--4 {
  background: url("../img/good_4.jpg") center no-repeat;
  background-size: cover;
}

.goods__item--5 {
  background: url("../img/good_5.jpg") center no-repeat;
  background-size: cover;
}

.goods__item--6 {
  background: url("../img/good_6.jpg") center no-repeat;
  background-size: cover;
}

.goods__item--7 {
  background: url("../img/good_7.jpg") center no-repeat;
  background-size: cover;
}

.goods__item--8 {
  background: url("../img/good_8.jpg") center no-repeat;
  background-size: cover;
}

.goods__btn {
  text-align: center;
}

.goods__btn a {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #8e8e8e;
  text-transform: uppercase;
  display: block;
  padding: 45px 0;
  background-color: #f5f5f5;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.goods__btn a:hover {
  background-color: #e5e5e5;
}

.work-process__inner {
  text-align: center;
  padding: 100px 0;
}

.work-process__title {
  margin-bottom: 35px;
}

.work-process__text {
  margin-bottom: 55px;
}

.work-process__video {
  width: 100%;
  height: 570px;
  background-color: #e9e9e9;
  position: relative;
}

.work-process__video::after {
  content: url("../img/arrow.png");
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 34px;
  border-radius: 50%;
  background-color: #10c9c3;
  cursor: pointer;
}

.icons {
  background-color: #f5f5f5;
}

.icons__inner {
  padding: 100px 0;
}

.icons__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -30px;
}

.icons__item {
  padding: 0 30px;
  text-align: center;
  width: 25%;
  margin-bottom: 50px;
}

.icons__icon {
  margin-bottom: 20px;
}

.icons__title {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #191919;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.icons__text {
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #787878;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: 100px 0;
  background-color: #141414;
  font-family: "Nunito Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #bcbcbc;
}

.footer-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__name {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #fff;
  margin-bottom: 25px;
}

.footer__title {
  margin-bottom: 8px;
}

.footer a {
  display: block;
  margin-bottom: 8px;
}
