@import "_normalize";

// === Fonts ===

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Nunito+Sans&family=Work+Sans&display=swap");

@mixin font-montserrat {
	font-family: "Montserrat", sans-serif;
}

@mixin font-nunito {
	font-family: "Nunito Sans", sans-serif;
}

@mixin font-work {
	font-family: "Work Sans", sans-serif;
}

// === /Fonts ===

// === Common ===

body {
	font-size: 16px;
	@include font-nunito;

	display: flex;
	flex-direction: column;
}

.container {
	width: 100%;
	max-width: 1210px;

	padding: 0 20px;
	margin: 0 auto;
}

.title {
	@include font-montserrat;
	font-size: 30px;
	font-weight: 500;
	color: #191919;
}

.text {
	@include font-nunito;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	color: #787878;
}

// === /Common ===

// === Header ===

.header {
	flex: 0 0 auto;

	padding-top: 38px;

	background-color: #e9e9e9;
	background: url("../img/bg-header.jpg") center no-repeat;
	background-size: cover;

	&__inner {
	}

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;

		margin-bottom: 180px;
	}

	&__logo {
		width: 31px;
	}

	&__nav {
		@include font-montserrat;
		font-size: 12px;
		font-weight: 500;
		color: #191919;
		text-transform: uppercase;
	}

	&__nav a {
		margin-right: 30px;

		transition: 0.2s linear;
	}

	&__nav a:last-child {
		margin-right: 0;
	}

	&__nav a:hover {
		color: #10c9c3;
	}

	&__info {
		max-width: 505px;
		margin: 0 0 200px auto;
	}

	&__title {
		@include font-montserrat;
		font-size: 38px;
		font-weight: 500;
		color: #1d1d1d;

		margin-bottom: 30px;
	}

	&__text {
		font-size: 18px;
		line-height: 1.5;
		color: #787878;

		margin-bottom: 35px;
	}

	&__btn {
		@include font-montserrat;
		font-size: 12px;
		color: #fff;
		text-transform: uppercase;

		padding: 20px 45px;
		background-color: #10c9c3;

		transition: 0.2s linear;
	}

	&__btn:hover {
		background-color: #09b8b2;
	}
}

// === /Header ===

// === Content ===

.content {
	flex: 1 1 auto;
}

// === /Content ===

// === AboutUs ===

.aboutus {
	&__inner {
		text-align: center;
		max-width: 650px;
		padding: 100px 10px;
		margin: 0 auto;
	}

	&__title {
		margin-bottom: 35px;
	}

	&__text {
		margin-bottom: 35px;
	}

	&__img {
	}
}

// === /AboutUs ===

// === Skills ===

.skills {
	position: relative;

	&__box {
		position: absolute;
		width: 50%;
		height: 100%;
		z-index: -1000;
	}

	&__box1 {
		top: 0;
		left: 0;

		background-color: #f8f9f9;
	}

	&__box2 {
		top: 0;
		right: 0;

		background-color: #e9e9e9;
		background: url("../img/skills-bg.jpg") left top no-repeat;
		background-size: contain;
	}

	&__inner {
		padding: 160px 0 185px;
	}

	&__title {
		margin-bottom: 30px;
	}

	&__subtitle {
		max-width: 500px;
		@include font-montserrat;
		font-size: 12px;
		color: #000;
		text-transform: uppercase;

		margin-bottom: 62px;

		position: relative;
	}

	&__subtitle:last-child {
		margin-bottom: 0;
	}

	&__subtitle::before,
	&__subtitle::after {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		bottom: -22px;
		width: 100%;
		height: 3px;
	}

	&__subtitle::before {
		background-color: #d8d8d8;
	}

	&__subtitle::after {
		background-color: #10c9c3;
	}

	&__subtitle1::after {
		width: 75%;
	}

	&__subtitle2::after {
		width: 90%;
	}

	&__subtitle3::after {
		width: 65%;
	}
}

// === /Skills ===

// === Stats ===

.stats {
	background-color: #10c9c3;

	&__inner {
		padding: 100px 0;
		margin: 0 -10px;

		display: flex;
		justify-content: space-between;

		@include font-montserrat;
		font-weight: 500;
		color: #fff;
		text-transform: uppercase;
	}

	&__item {
		flex: 0 1 25%;
		padding-left: 70px;

		position: relative;
	}

	&__item::before {
		content: url("../img/icon-1.png");
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
	}

	&__counter {
		font-size: 18px;

		margin-bottom: 15px;
	}

	&__text {
		font-size: 12px;
	}
}

// === /Stats ===

// === Goods ===

.goods {
	margin: 0 auto;
	width: 100%;

	&__inner {
	}

	&__row {
		display: flex;
		justify-content: center;
	}

	&__item {
		height: 300px;
		width: 25%;
		z-index: 1;

		position: relative;
	}

	&__item::before {
		content: "";
		display: block;
		background-color: #10c9c3;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		z-index: 100;
		opacity: 0;
		transition: 0.2s linear;
	}

	&__item:hover::before {
		opacity: 0.8;
	}

	&__item::after {
		content: url("../img/icon-eye.png");
		display: block;
		width: 48px;
		height: 30px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		z-index: 101;
		opacity: 0;
		transition: 0.2s linear;
	}

	&__item:hover::after {
		opacity: 1;
	}

	&__item--1 {
		background: url("../img/good_1.jpg") center no-repeat;
		background-size: cover;
	}

	&__item--2 {
		background: url("../img/good_2.jpg") center no-repeat;
		background-size: cover;
	}

	&__item--3 {
		background: url("../img/good_3.jpg") center no-repeat;
		background-size: cover;
	}

	&__item--4 {
		background: url("../img/good_4.jpg") center no-repeat;
		background-size: cover;
	}

	&__item--5 {
		background: url("../img/good_5.jpg") center no-repeat;
		background-size: cover;
	}

	&__item--6 {
		background: url("../img/good_6.jpg") center no-repeat;
		background-size: cover;
	}

	&__item--7 {
		background: url("../img/good_7.jpg") center no-repeat;
		background-size: cover;
	}

	&__item--8 {
		background: url("../img/good_8.jpg") center no-repeat;
		background-size: cover;
	}

	&__btn {
		text-align: center;
	}

	&__btn a {
		@include font-montserrat;
		font-size: 12px;
		font-weight: 500;
		color: #8e8e8e;
		text-transform: uppercase;

		display: block;
		padding: 45px 0;

		background-color: #f5f5f5;

		transition: 0.2s linear;
	}

	&__btn a:hover {
		background-color: #e5e5e5;
	}
}

// === /Goods ===

// === Work Process ===

.work-process {
	&__inner {
		text-align: center;

		padding: 100px 0;
	}

	&__title {
		margin-bottom: 35px;
	}

	&__text {
		margin-bottom: 55px;
	}

	&__video {
		width: 100%;
		height: 570px;
		background-color: #e9e9e9;

		position: relative;
	}

	&__video::after {
		content: url("../img/arrow.png");

		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		padding: 34px;
		border-radius: 50%;
		background-color: #10c9c3;

		cursor: pointer;
	}
}

// === /Work Process ===

// === Icons ===

.icons {
	background-color: #f5f5f5;

	&__inner {
		padding: 100px 0;
	}

	&__row {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		margin: 0 -30px;
	}

	&__item {
		padding: 0 30px;
		text-align: center;

		width: 25%;
		margin-bottom: 50px;
	}

	&__icon {
		margin-bottom: 20px;
	}

	&__title {
		@include font-montserrat;
		font-size: 12px;
		font-weight: 500;
		color: #191919;
		text-transform: uppercase;

		margin-bottom: 10px;
	}

	&__text {
		@include font-nunito;
		font-size: 16px;
		font-weight: 400;
		line-height: 1.5;
		color: #787878;
	}
}

// === /Icons ===

// === Quotes ===

.quotes {
	padding: 170px 0 60px;
	background-color: #10c9c3;

	@include font-montserrat;
	font-weight: 500;
	line-height: 1.5;
	color: #fff;
	text-align: center;

	&__inner {
		max-width: 830px;
		margin: 0 auto;
	}

	&__text {
		font-size: 24px;

		margin-bottom: 35px;
	}

	&__text::before {
		content: "“";
		font-size: 30px;
	}

	&__text::after {
		content: "”";
		font-size: 30px;
	}

	&__name {
		font-size: 12px;
		text-transform: uppercase;

		margin-bottom: 105px;
	}

	&__switcher {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__item {
		background-color: #fff;
		border-radius: 50%;
		width: 6px;
		height: 6px;
		opacity: 0.7;

		margin: 6px;
	}

	&__item:nth-child(2) {
		width: 10px;
		height: 10px;
		opacity: 1;
	}
}

// === /Quotes ===

// === Logos ===

.logos {
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;

		padding: 65px 0;
	}

	&__img {
		margin: 0 35px;
	}
}

// === /Logos ===

// === Feedback ===

.feedback {
	background-color: #f5f5f5;

	padding: 100px 0;

	&__inner {
		max-width: 670px;
		margin: 0 auto;

		text-align: center;
	}

	&__title {
		margin-bottom: 35px;
	}

	&__text {
		margin-bottom: 35px;
	}

	&__form {
		width: 100%;
	}

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;

		margin: 0 -15px;
	}

	&__column {
		padding: 0 15px;
		width: 50%;
	}

	&__input {
		padding: 18px 20px;
		margin-bottom: 30px;

		@include font-nunito;
		font-size: 15px;
		font-weight: 400;
		color: #787878;
	}

	textarea {
		resize: none;
		height: 170px;
	}

	&__input[type="text"],
	&__input[type="email"],
	textarea {
		width: 100%;
	}

	&__input[type="textarea"] {
		height: 170px;
	}

	&__btn {
		background-color: #10c9c3;

		padding: 22px 35px;

		@include font-montserrat;
		font-size: 12px;
		font-weight: 500;
		color: #fff;
		text-transform: uppercase;

		transition: 0.2s linear;

		cursor: pointer;
	}

	&__btn:hover {
		background-color: #09b8b2;
	}
}

// === /Feedback ===

// === Footer ===

.footer {
	flex: 0 0 auto;
	padding: 100px 0;
	background-color: #141414;

	@include font-nunito;
	font-size: 15px;
	font-weight: 400;
	color: #bcbcbc;

	&-inner {
		display: flex;
		justify-content: space-between;
	}

	&__copyright {
	}

	&__name {
		@include font-montserrat;
		font-size: 18px;
		color: #fff;

		margin-bottom: 25px;
	}

	&__title {
		margin-bottom: 8px;
	}
}

.footer a {
	display: block;
	margin-bottom: 8px;
}

// === /Footer ===
